<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "Untitled" }} - Freecord</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Coiny&family=Exo:ital,wght@0,100..900;1,100..900&family=Marcellus&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
   <link rel="icon" href="/static/img/logo.png" />
  </head>
  <body>
    {{ content | safe }}
    <footer>
      <p>&copy; Zonomic Industries</p>
    </footer>
  </body>
</html>