---
layout: base.njk
---

<nav class="sideNav">
   <h2>Freecord Docs</h2>

    <a href="/">Home</a>

    <ul>   
        <li><b>Documentation</b></li>
        <!-- Root Documents -->
        <li><a href="/docs/contributing">Contributing</a></li>
        <li><a href="/docs/design">Design</a></li>

        <!-- Installation and Setup -->
        <li><b>Installing and Setup</b></li>
        <li><a href="/docs/setup/installation">Installation</a></li>
        <li><a href="/docs/setup/software">Software</a></li>

        <li><b>Changelog</b></li>
        <li><a href="/docs/changelog/">Changelog</a></li>
        <li>Dev Weeks</li>
        <li><a href="/docs/changelog/devWeeks/1">Week 1</a></li>
        <li><a href="/docs/changelog/devWeeks/2">Week 2</a></li>
    </ul>
</nav>

<main class="pushAside">
    {{ content | safe }}
</main>